 .shop_products{
  height: inherit;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
 }
 .catalogue{
   width: 80%;
   height: inherit;
    margin: 40px auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    grid-gap: 1.4rem;
    box-sizing: border-box;
}
.search_term{
  font-family: 'Open Sans', Arial, sans-serif;
  height: 150px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .shop_products{
    height: inherit;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
   }
   .catalogue{
     width: 80%;
     height: inherit;
      margin: 40px auto;
      padding: 0 10px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 1.4rem;
    box-sizing: border-box;
  }
  .search_term{
    /* background-color; */
    background-color: white;
    height: 300px;
  }
    
}