.card_to {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 80%;
    min-width: 280px;
    margin: auto;
    margin-top: 25px;
    height: inherit;
    border-radius: 10px;
    color:grey;
    text-align: center;
}
.about_short_text{
    font-size: 13px;
}
about_heading{
    color:grey;
    font-size:20px;
}
img{
    margin-bottom: 25px;
    object-fit: cover;
    float: right;
    position: relative;
    shape-outside: circle(10);
    shape-margin:-20px;
    margin-right:20px;
    margin: 5px;
  }
  .title {
    color: grey;
    font-size: 18px;
    margin: 5px;
  }
  /* card to  */

  .card_to_alt{
      border: 2px solid grey;
      color: gray;
  }
  .card_to_alt img{
      position: absolute;
    margin-bottom: 25px;
    object-fit: cover;
    float: right;
    position: relative;
    shape-outside: square(10);
    shape-margin:-20px;
  }
  button {
    margin-top: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .ba{
    
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .div {
    text-decoration: none;
    font-size: 40px;
    width: 40px;
    margin: 4px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
