.addTodo
{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    align-items: center;


  }
.content_head
{
    width: 100vw;
    height: 50px;
    display: flex;
    background-color: #053674;
    color: white;
    align-items: center;
    padding-left: 30px;
}
 .form
 {
     height: inherit;
     padding: 10px;
     width: 60%;
     margin-top: 40px;
     margin-bottom: 40px;
 }
.login_form, .input_form{
     width: 90%;
     display: flex;
     align-items: flex-start;
     flex-direction: column;
 }
.input_form p{
     color:  #031B3A;
     line-height: 30px;
     margin-left: 5px;
 }
 .input_form .input_box
 {
     display: flex;
flex-direction: row;
align-items: center;
width: 100%;
height: 45px;
background: #FFFFFF;
color: #053674;
border: 1px solid #545559;
border-radius: 4px;
padding-left: 20px;
 }
 .input_form .input_box input{
     border: none;
     
 }
 .account_button
 {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 90%;
height: 45px;
background: #FFFFFF;
color: #053674;
border: 3px solid #053674;
border-radius: 4px;
 }
 /*or*/

 .login_button{
     display: flex;
     font-weight: normal;
     font-size: 16px;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
height: 45px;
background: #053674;
color: white;
border: 3px solid #053674;
border-radius: 4px;
 }
 .login_form p {
     font-size: 12px;
     margin-left: 50px;
 }
 .login_form div{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
 }
 .login_form div div{
     height: 2px;
     width: 40%;
     background-color: black;
     border-radius: 2px;
 }
 .login_form{
     height: 150px;
     justify-content: space-evenly;
 }
 .login_form div h3{
     color: #F6CC5C;
     font-weight: bold;
 }
