.hero{
    width: 100vw;
    height: inherit;
    background-color: white;
}
.hero_img{
    height: 50vh;
    width:100vw;
    display: flex;
}
/* hero shop area  */
.hero_shop_name{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero_shop_name button{
    width: 180px;
height: 36px;
background: #053674;
border-radius: 10px;
}
.hero_shop_name h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.hero_shop_name p{
    font-weight: 700px;
    text-align: center;
    text-justify: center;
    font-size: 25px;
}
/* slider for product display */
.hero_shop_slidder{
    width: 60%;
    height: 100%;
    display: flex;
}
