/* Slideshow container */
.slideshow-container {
    background-color: black;
    min-width: 340px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 10px;
  }
.menu_cancel_icon_container{
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 10px;
    height: 8%;
}  
  /* Slides */
  .mySlides {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    color:black;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(15, 207, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
    font-size: 20px;
  }
  .prev {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(15, 207, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
    font-size: 20px
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
