*
{
    padding: 0;
    box-sizing: border-box;
}
/*name of the website*/
#heading {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 30px 30px 0px;
    justify-content: center;
    width: 300px;
}
#heading p{
    color: #324d67;
    font-weight: bold;
    margin: 0;
    padding: 0px;
}
#heading h2{
    font-weight: bold;
    height: fit-content !important;
    margin: 0px !important;
    padding: 5px !important;
}
.john_doe{
    background-color: blue;
    width: 80px;
    margin-right: 10px;
    border-radius: 10px;

}
.menu_list
{
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.menu_options
{
    display: none;
}

.header_section{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: red;
}
.header_section .john_doe{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    flex-direction: row;
}
.input_container
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    height: 50%;
    padding-right: 30px;
}
.input_container div {
    width: 100%;
    border-radius: 5px;
    display: flex;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.input_container div input{
    border: none;
    opacity: 0.5;
    outline: none;
    text-justify: middle;
    height: 50%;
    width: 80%;
}
.input_container div div{
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 30%;
    font-weight: normal;
    border: none;
    align-items: center;
    background-color: rgba(246, 204, 92, 0.75);
    display: flex;
    flex-direction: row;
}
#btn{
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #f02d34;
    color: white;
    border: none;
    margin: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

@media (min-width:500px) {
    *
{
    padding: 0;
    font-family: sans-serif;
}
.top_bar{
  display: flex;
  height: 80px;
  width: 100%;
  border: none;
  background-color: #dcdcdc;
  flex-direction: row;
}

.logo{
    width:20%;
    height: 100%;
}
.logo h3{
    margin-top: 15px;
    font-weight: normal;
}
.logo p{
    font-weight: normal;
    font-size: 12px;
}
.logo .logo_icons{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction:column;
    height: 100%;
}
.local_offer{
    position: relative;
}
.shopping_cart{
    position: absolute;
    top: 15px;
    margin-bottom: 5px;
    left: 105px;
}
.logo div div{

}
.menu_list
{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.menu_options
{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.menu_options li
{
    
}

.header_section{
    display: flex;
    width: fit-content !important;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.header_section .john_doe{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    flex-direction: row;
}
.input_container
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    height: 50%;
    padding-right: 30px;
}
.input_container div {
    width: 40%;

    border-radius: 5px;
    border: 1px solid rgb(0,0,0,0.4);
    display: flex;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.input_container div input{
    border: none;
    opacity: 0.5;
    outline: none;
    text-justify: middle;
    height: 50%;
    width: 80%;
}
.input_container div div{
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 30%;
    font-weight: normal;
    border: none;
    align-items: center;
    background-color: rgba(246, 204, 92, 0.75);
    display: flex;
    flex-direction: row;
}
}