.card{
  display: flex;
flex-direction: column;
margin-top: 0px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
border-radius: 10px;
border: 2px solid gray;
box-sizing: border-box;
}
/* upper container where the div for device image is  */
.device_container{
  height: 55%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/public/logo192.png");
}
.like_circle{
  height: 30px;
  border-radius: 50%;
  width: 30px;
  background-color: grey;
  position:relative;
  left:88%;
  margin: 3px;
}
/* lower div where the device info is contained */
.device_info_container
{
  height: 45%;
  width: 100%;
}
.device_info_container p{
  padding-left: 10px;
  width: 100%;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0px;
}
.device_info_container div{
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: lighter;
  }
/*  */
.device_rating{
  padding: 0;
  margin: 0;
  height: unset;
  
}
.device_price{
  font-size: 24px;
  font-weight: bold;
  color: #053674;
}
.compare{
  font-size: 12px;
}
.device_name
, .device_spec{
  line-height: 0;
  font-size: 15px;
  color: black;
}